<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Calculator</title>
  <style>
    a {
      display: block;
      margin-top: 1rem;
      color: #111;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    a:hover {
      color: #2e59b4;
    }
  </style>
</head>
<body>
  <h1>Le Calculator v.{{ data['version'] }}</h1>
  <h2>Résultat :</h2>
  <div><strong>
    {{ data['input-1'] }} {{ data['operation'] }} {{ data['input-2'] }} = {{ data['result'] }}
  </strong></div>
  <a href="/">&larr; Retour</a>
</body>
</html>